In [1]:
my_tuple = 3,4.6,"dog"

In [2]:
type(my_tuple)

tuple

In [3]:
my_tuple

(3, 4.6, 'dog')

In [4]:
len(my_tuple)

3

In [5]:
a,b,c = my_tuple

In [6]:
a

3

In [7]:
b

4.6

In [8]:
c

'dog'

In [9]:
a = (1,2,3,4)
venkat,sai,ravi,shyam = a

In [10]:
venkat

1

In [11]:
sai

2

In [12]:
ravi

3

In [13]:
shyam

4

In [18]:
a = (1,)
type(a)

tuple

In [19]:
my_tuple = ("hello")

In [20]:
type(my_tuple)

str

In [21]:
my_tuple = ("hello",)

In [22]:
type(my_tuple)

tuple

In [23]:
my_tuple = (1,2,2)
my_tuple = ("venkat","sai")

In [29]:
my_tuple = (1,2,2)

In [30]:
id(my_tuple)

2696770267264

In [31]:
my_tuple = ("venkat","sai")

In [32]:
id(my_tuple)

2696769597376

In [25]:
my_tuple

('venkat', 'sai')

In [21]:
l = [1,2,3]
l.append(4)

In [22]:
l

[1, 2, 3, 4]

In [23]:
l[0]

1

In [24]:
l[0] = 5

In [25]:
l

[5, 2, 3, 4]

In [26]:
del l[0]

In [27]:
l

[2, 3, 4]

In [28]:
my_tuple = ('p','e','r','m','i','t')
my_tuple[0]

'p'

In [29]:
my_tuple[5]

't'

In [30]:
my_tuple[0] = 'u'

TypeError: 'tuple' object does not support item assignment

In [31]:
del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [32]:
my_tuple.append(2)

AttributeError: 'tuple' object has no attribute 'append'

In [26]:
# nested tuple
n_tuple = ("mouse",[8,4,6],(1,2,3))

In [28]:
# nested index
n_tuple[2][1]

2

In [36]:
n_tuple[2][2]

3

In [37]:
l = [[1,2,3],[6,4,5]]
l[1][1]

4

In [39]:
my_tuple = ('p','e','r','m','i','t')
my_tuple[-1]

't'

In [40]:
my_tuple[-6]

'p'

In [41]:
my_tuple[1:4]

('e', 'r', 'm')

In [42]:
my_tuple[3:]

('m', 'i', 't')

In [43]:
my_tuple[:]

('p', 'e', 'r', 'm', 'i', 't')

In [44]:
l_1 = [1,2,3]
l_2 = [4,5,6]
c_l = l_1 + l_2

In [45]:
c_l

[1, 2, 3, 4, 5, 6]

In [46]:
t_1 = (1,2,3)
t_2 = (4,5,6)
c_t = t_1 + t_2

In [47]:
c_t

(1, 2, 3, 4, 5, 6)

In [1]:
my_tuple = ('Repeat',)
id(my_tuple)

3054786330832

In [2]:
my_tuple = my_tuple * 9
id(my_tuple)

3054775002944

In [53]:
my_tuple

('Repeat',
 'Repeat',
 'Repeat',
 'Repeat',
 'Repeat',
 'Repeat',
 'Repeat',
 'Repeat',
 'Repeat')

In [64]:
my_tuple = ('a','p','p','p','l','e')
my_tuple.count('p')

3

In [65]:
my_tuple.index('p')

1

In [56]:
my_tuple.index('l')

3

# Tuple Membership Test

In [57]:
# We can test if an item exsists in a tuple or not, using the keyword in.
my_tuple = ('a','p','p','l','e')

print('a' in my_tuple)

True

In [58]:
print('b' in my_tuple)

False

In [59]:
print('b' not in my_tuple)

True

# Iterating Through a Tuple

In [60]:
my_tuple = ('a','p','p','l','e')

for i in my_tuple:
    print(i)

a
p
p
l
e

In [61]:
for name in ('john','venkat'):
    print(name)

john
venkat

# Advantages of Tuples over List

In [62]:
# We generally use tuples for heterogenous data types(different) data types and lists for homogeneous (similar) data types

In [63]:
# Since tuples are immutable, iterating through a tuple is faster than a list. so there is a slight performance boost

In [ ]:
# If you have dat that does not change,implementing it as tuple will guarantee remains write-protected

In [69]:
my_tuple = ('a','p','p','p','l','e')
my_tuple.index('e')

5

In [70]:
my_tuple = ['a','p','p','l','e']

In [71]:
print('a' in my_tuple)

True

In [72]:
print('b' not in my_tuple)

True

In [73]:
numbers = [1,2,3]
square_numbers = [i**2 for i in numbers]

In [74]:
square_numbers

[1, 4, 9]

In [82]:
numbers = (1,2,3)
square_numbers = tuple((i**2 for i in numbers))

In [83]:
square_numbers

(1, 4, 9)

In [84]:
numbers = [1,2,3]
tup = tuple(numbers)

In [85]:
tup

(1, 2, 3)

In [86]:
l = list(tup)

In [87]:
l

[1, 2, 3]

In [9]:
y = [1,2,3]

In [11]:
id(y)

3054786017536

In [15]:
y[0] = 10

In [16]:
id[y]

TypeError: 'builtin_function_or_method' object is not subscriptable

# if else

In [1]:
age = 19
if age >= 18:
    print("You are old enough to vote!")

You are old enough to vote!

In [2]:
age = 19
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")

You are old enough to vote!
Have you registered to vote yet?

In [3]:
age = 17
if age >= 18:
    print("You are old enough to vote!")
    print("Have you registered to vote yet?")
else:
    print("Sorry, you are too young to vote.")
    print("Please register to vote as soon as you turn 18!")

Sorry, you are too young to vote.
Please register to vote as soon as you turn 18!

In [4]:
age = 12

if age < 4:
    print("Your admission cost is $0.")

elif age < 18:
    print("Your admission cost is $25.")
else:
    print("Your admission cost is $40.")

Your admission cost is $25.