# Python Sets

In [ ]:
# A set is an unordered collection of items. Every set element 
#is unique(no duplicates) and must be immutable

In [1]:
l = [1,2,2,3,3]

In [2]:
l

[1, 2, 2, 3, 3]

In [3]:
# However ,a set itself is mutable.
# we can add or remove items from it

In [4]:
# Sets can also be used to perform mathematical set operations 
#like union,intersection,symmetric difference

# Creating a Set

In [5]:
# A set is created by placing all the items inside a
#curly braces,seperated by comma, or by using the built-in set() function

In [6]:
# But a set cannot have mutable elements like lists,sets,or
#dictionaries as its elements

In [2]:
my_dict = {}

In [3]:
type(my_dict)

dict

In [3]:
my_set = set()

In [4]:
type(my_set)

set

In [5]:
s = list((1,2,3))

In [6]:
s

[1, 2, 3]

In [4]:
my_set = {1,2,3}

In [5]:
type(my_set)

set

In [9]:
my_dict = {1:1,2:4,3:9}

In [10]:
type(my_dict)

dict

In [11]:
# set of mixed data types
my_set = {1.0,"Hello",(1,2,3)}

In [13]:
my_set

{(1, 2, 3), 1.0, 'Hello'}

In [14]:
# set cannot have duplicates
my_set = {1,2,3,3,4,4,4}

In [15]:
my_set

{1, 2, 3, 4}

In [16]:
my_list = [1,2,3,2]
my_set = set(my_list)

In [17]:
my_set

{1, 2, 3}

In [18]:
my_set = {1,2,[3,4]}

TypeError: unhashable type: 'list'

In [19]:
l = [1,[9,8]]

In [20]:
l[0] = 3

In [38]:
l

[3, [9, 8]]

In [21]:
my_set = {1,2,(3,4)}

In [22]:
my_set

{(3, 4), 1, 2}

In [23]:
my_set = {1,2,{1,2,3}}

TypeError: unhashable type: 'set'

In [24]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [6]:
my_set = {1,3}

In [7]:
my_set

{1, 3}

In [13]:
my_set.add(5)
my_set

{1, 3, 5}

In [8]:
a=[1,2,4]

In [9]:
s = set(a)

In [10]:
s.add(3)

In [35]:
s.update([4,6])

In [16]:
s.update({1000,10})
s

{1, 2, 3, 4, 10, 1000}

In [14]:
my_set.update({9,10})

In [15]:
my_set

{1, 3, 5, 9, 10}

In [38]:
my_set.add(4)

In [48]:
my_set

{1, 3, 4}

In [49]:
my_set.add(4)

In [50]:
my_set

{1, 3, 4}

In [51]:
# add multiple elements
my_set.update([6,7,9])

In [52]:
my_set

{1, 3, 4, 6, 7, 9}

In [53]:
my_set.update([67,89],{1,2,3})

In [54]:
my_set

{1, 2, 3, 4, 6, 7, 9, 67, 89}

In [55]:
my_set.update({68,90})

In [56]:
my_set

{1, 2, 3, 4, 6, 7, 9, 67, 68, 89, 90}

In [58]:
my_set.update((3,))

# Removing elements from a set

In [17]:
my_set = {1,2,3,4,5}
type(my_set)

set

In [18]:
# discard an element

In [19]:
my_set.discard(4)

In [20]:
my_set

{1, 2, 3, 5}

In [21]:
my_set.discard(100)

In [22]:
my_set.remove(2)

In [23]:
my_set

{1, 3, 5}

In [24]:
my_set.remove(100)

KeyError: 100

In [25]:
len(my_set)

3

In [26]:
my_set = set("Helloworld")

In [27]:
my_set

{'H', 'd', 'e', 'l', 'o', 'r', 'w'}

In [30]:
my_set.pop()

'H'

In [31]:
my_set.pop()

'l'

In [32]:
my_set = {"Helloworld"}

In [33]:
my_set

{'Helloworld'}

In [75]:
my_list = ["Get"]

In [76]:
my_list

['Get']

In [77]:
my_list = list("Get")

In [78]:
my_list

['G', 'e', 't']

In [79]:
my_set.clear()

In [80]:
my_set

set()

In [81]:
del my_set

In [82]:
my_set

NameError: name 'my_set' is not defined