# Introduction to Strings

In [1]:
# Strings are set of characters.

## Single and double quotes

In [2]:
my_string1 = "This is a double quoted string"
my_string2 = 'This is a single quoted string'

In [3]:
print(my_string1)

This is a double quoted string

In [4]:
my_string = "This is a string'
print(my_string)

SyntaxError: EOL while scanning string literal (<ipython-input-4-bb71244af83b>, line 1)

# Multiline Strings

In [6]:
my_string = "My name is venkat. I am a data science trainer and I work in a IT company,my hobbies are playing cricket and watching football"

In [7]:
print(my_string)

My name is venkat. I am a data science trainer and I work in a IT company,my hobbies are playing cricket and watching football

In [8]:
multiline_string = '''My name is venkat
I am a data science trainer
I work for an IT company
my hobbies are playing cricket and watching football'''

In [9]:
print(multiline_string)

My name is venkat
I am a data science trainer
I work for an IT company
my hobbies are playing cricket and watching football

In [10]:
normal_string = 'My name is venkat'
'I am a data science trainer'
'I work for an IT company'
'my hobbies are playing cricket and watching football'

'my hobbies are playing cricket and watching football'

In [1]:
my_string = "python"

In [2]:
my_string

'python'

In [12]:
type(my_string)

str

In [13]:
a = 2

In [14]:
type(a)

int

In [15]:
a = 2.14
type(a)

float

In [16]:
a = True
type(a)

bool

In [17]:
a = true
a

NameError: name 'true' is not defined

In [18]:
type(multiline_string)

str

In [25]:
type(multiline_string)

str

# Changing case

In [26]:
first_name = 'eric'
print(first_name)

eric

In [28]:
print(first_name.title())

Eric

In [31]:
first_name = 'ERiC'
print(first_name)

ERiC

In [32]:
print(first_name.title())

Eric

# Combining Strings(Concatenation)

In [3]:
first_name = 'ada'
last_name = 'lovelace'

full_name = first_name + ' ' +last_name

In [5]:
a = first_name+last_name
a

'adalovelace'

In [41]:
print(full_name)

ada lovelace

In [42]:
print(full_name.title())

Ada Lovelace

In [43]:
# The plus sign combines two strings into one which is called concatenation

In [48]:
first_name = 'ada'
last_name = 'lovelace'
full_name = first_name + ' ' +last_name
message = full_name.title() + ' @ '+ "was considered the world's first programmer"
print(message)

Ada Lovelace @ was considered the world's first programmer

In [49]:
venkat = '''My name is venkat
I am a data science trainer
I work for an IT company
my hobbies are playing cricket and watching football'''

In [50]:
print(venkat)

My name is venkat
I am a data science trainer
I work for an IT company
my hobbies are playing cricket and watching football

In [7]:
first_name = 'ada'
last_name = '50'

In [5]:
full_name

'ada 50'

In [ ]:
'abc%d' % 9
'abc9'

In [19]:
first_name = 'ada'
last_name = 'lovelace'
full_name = first_name  +last_name
full_name

'adalovelace'

In [16]:
a = 'pooNam'

In [17]:
a.title()

'Poonam'

In [10]:
a = "i like you"

In [13]:
b = a.replace("like", 'love')

In [14]:
b

'i love you'