# Introduction to string formatting

In [17]:
string_template = 'The result of the calculation of {calc} is {res} and time taken for this calculation is {time_1}'
print(string_template)

The result of the calculation of {calc} is {res} and time taken for this calculation is {time_1}

In [18]:
print(string_template.format(calc='(3*4)+2',res=(3*4)+2,time_1='5 Seconds'))

The result of the calculation of (3*4)+2 is 14 and time taken for this calculation is 5 Seconds

In [ ]:
string_template.format()

# Whitespace

In [19]:
print("My name is venkat,I am a data sciene trainer")

My name is venkat,I am a data sciene trainer

In [1]:
print('''My name is venkat,
I am a data sciene trainer''')

My name is venkat,
I am a data sciene trainer

In [24]:
print("My name is venkat,\nI am a data sciene trainer \nMy hobbies are playing cricket and warching movies")

My name is venkat,
I am a data sciene trainer
My hobbies are playing cricket and warching movies

In [25]:
# The combination "\n" makes a newline appear in the string. You can use newlines anywhere you like in a string

## Stripping Whitespace

In [2]:
name = ' eric ben '
print(name)

 eric ben

In [47]:
print(name.lstrip())

eric ben

In [48]:
print(name.rstrip())

 eric ben

In [49]:
print(name.strip())

eric ben

In [5]:
print('-' + name.lstrip())
print('-' + name.lstrip() +'-')
print( name.rstrip() +'-')
print('-' + name.rstrip() +'-')

-eric ben
-eric ben -
 eric ben-
- eric ben-
-eric ben-

In [31]:
name = '            eric'
print(name)

            eric

In [32]:
print(name.lstrip())

eric

# Numbers

In [51]:
print(3+2)

5

In [52]:
3-2

1

In [53]:
3*2

6

In [54]:
3**2

9

In [55]:
3**3

27

In [56]:
3/2

1.5

In [57]:
standard_order = 2+3*4
print(standard_order)

14

In [58]:
standard_order = (2+3)*4
print(standard_order)

20

In [60]:
print(0.12+0.14567)

0.26566999999999996

In [2]:
a = 1 + 2.5
a

3.5

In [3]:
b = int(round(a,2))

In [4]:
b

3

In [79]:
c = int(b)

In [80]:
c

3

In [81]:
type(c)

int

In [99]:
a = 1 + 2.5
a = round(a,1)
a

3.5

In [100]:
int(a)

3

In [105]:
a = 'mahesh' 
b = str(25)
c = a + b
print(c)

mahesh25

In [102]:
type(a)

str

In [103]:
type(b)

int

In [107]:
c = 'mahesh ' + str(25)
print(c)

mahesh 25

In [108]:
a = 'mahesh' 
b = 25
c = a + b
print(c)

TypeError: can only concatenate str (not "int") to str