# Connect To Database

In [15]:
import sqlite3

conn = sqlite3.connect('8am.db')

print("Opened database successfully")

conn.execute('''CREATE TABLE COMPANY
(ID INT PRIMARY KEY NOT NULL,
NAME TEXT NOT NULL,
AGE INT NOT NULL,
ADDRESS CHAR(50),
SALARY REAL);''')

print("Table created successfully")

conn.close()

Opened database successfully
Table created successfully

In [16]:
conn = sqlite3.connect('8am.db')

print("Opened database successfully")

conn.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) \
VALUES (1,'Paul',32,'California','200000.00')")

conn.execute("INSERT INTO COMPANY(ID,NAME,AGE,ADDRESS,SALARY) \
VALUES (2,'Allen',32,'California','229999.00')")

conn.commit()

print("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

In [17]:
conn = sqlite3.connect('8am.db')

print("Opened database successfully")

cursor = conn.execute("SELECT ID,NAME,ADDRESS,SALARY FROM COMPANY")

for row in cursor:
    print("ID = ",row[0])
    print("Name = ",row[1])
    print("Address = ",row[2])
    print("Salary = ",row[3], "\n")
    
print("Operation done successfully")
conn.close()

Opened database successfully
ID =  1
Name =  Paul
Address =  California
Salary =  200000.0

ID =  2
Name =  Allen
Address =  California
Salary =  229999.0

Operation done successfully

In [20]:
conn = sqlite3.connect('8am.db')

print("Opened database successfully")

conn.execute("UPDATE COMPANY set SALARY = 233999 where ID = 1")

print("Total number of rows updated :",conn.total_changes)

cursor = conn.execute("SELECT ID,NAME,ADDRESS,SALARY FROM COMPANY")
for row in cursor:
    print("ID = ",row[0])
    print("Name = ",row[1])
    print("Address = ",row[2])
    print("Salary = ",row[3], "\n")
    
print("Operation done successfully")
conn.close()

Opened database successfully
Total number of rows updated : 1
ID =  1
Name =  Paul
Address =  California
Salary =  233999.0

ID =  2
Name =  Allen
Address =  California
Salary =  229999.0

Operation done successfully