In [1]:
colors = ['red','green','blue','yellow','white','black']
colors[-1]

'black'

In [2]:
colors_last = colors[-1]
print(colors_last)

black

In [3]:
type(colors_last)

str

In [4]:
colors_first = colors[0]
print(colors_first)

red

In [5]:
type(colors_first)

str

# Assignment

In [6]:
# Before we used indexing only for accessing the content of a list cell. But it is also possible to change cell content
# using an assignment operation
# we can freely use positive or negative indexing for assignment

In [14]:
basket = ['bread','butter','milk']
basket[0] = 'cake'

In [15]:
basket

['cake', 'butter', 'milk']

In [16]:
basket[-1] = 'water'

In [17]:
basket

['cake', 'butter', 'water']

In [18]:
basket = ['bread,butter,milk']
len(basket)

1

In [19]:
basket[1.0] = "cake"

TypeError: list indices must be integers or slices, not float

# Deletion

In [20]:
# we can easily delete any element from the list by using indexing and del statement

In [21]:
basket = ['bread','butter','milk']
del basket[0]

In [22]:
basket

['butter', 'milk']

In [23]:
del basket[1]

In [24]:
basket

['butter']

In [1]:
a = [1,4,7,5]

In [2]:
a.pop()

5

In [3]:
a

[1, 4, 7]

In [4]:
a.pop(1)

4

In [5]:
a

[1, 7]

# Slicing

In [20]:
nums = [10,20,30,40,50,60,70,80,90]
# What if we want to take a sublist from the nums list
some_nums = nums[1:6]

In [21]:
some_nums

[20, 30, 40, 50, 60]

In [23]:
a = [10,20,30,40,50,60,70,80,90]

In [24]:
a[1:100]

[20, 30, 40, 50, 60, 70, 80, 90]

In [31]:
# The full slice syntax is : start:stop:step.
# start refers to the index of element which is used as a start of our slice.
# stop refers to the index of the element we should stop just before to finish our slice.
# step allows you to take each nth-element within a start:stop range

In [6]:
basket = ['bread','butter','milk']
some_basket = basket[0:2]

In [7]:
some_basket

['bread', 'butter']

In [8]:
nums[0:4]

[10, 20, 30, 40]

In [9]:
nums[:5]

[10, 20, 30, 40, 50]

In [10]:
nums[-3:10]

[70, 80, 90]

In [45]:
nums[-4:-3]

[60]

In [46]:
nums[0]

10

In [47]:
nums[-0]

10

In [11]:
nums[999991:10000001]   #invalid so empty list.

[]

In [12]:
nums = [10,20,30,40,50,60,70,80,90]
nums[-10:]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [50]:
basket = ['bread','butter','milk']
del basket[:]

In [51]:
basket

[]

In [19]:
nums = [10,20,30,40,50,60,70,80,90]  #delete permanently. 2 and3 element
del nums[2:5]

In [15]:
nums

[10, 20, 60, 70, 80, 90]

In [1]:
a = ['a','b','c','b']

In [2]:
a.index('b')

1

In [3]:
a.count('b')

2

In [4]:
a.remove('b')

In [ ]:
a

In [6]:
#sort

In [7]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
cars.sort(reverse=True)
print(cars)

['toyota', 'subaru', 'bmw', 'audi']

In [8]:
cars

['toyota', 'subaru', 'bmw', 'audi']

In [9]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print("Here is the original list:")
cars

Here is the original list:

['bmw', 'audi', 'toyota', 'subaru']

In [10]:
sorted(cars)

['audi', 'bmw', 'subaru', 'toyota']

In [11]:
cars

['bmw', 'audi', 'toyota', 'subaru']