# What is for loop in python?

In [8]:
# The for loop in Python is used to iterate over a sequence (list,tuple,string)
# or other iterable objects
# Iterating over a sequence is called traversal

# Syntax of for Loop

In [9]:
# for val in sequence:
#     Body of for

In [10]:
# Here, val is the temporary placeholder variable which the holds value inside it on each iteration of the sequennce

In [11]:
list_1 = ["rodger","ben","julie"]
list_1

['rodger', 'ben', 'julie']

In [12]:
type(list_1)

list

In [13]:
list_1 =["rodger","ben","juliee"] + "Welcome to the club"

TypeError: can only concatenate list (not "str") to list

In [14]:
list_1 =["rodger","ben","juliee"] + ["Welcome to the club"]
list_1

['rodger', 'ben', 'juliee', 'Welcome to the club']

In [15]:
list_1 =["rodger","ben","juliee"]+["welcome"]

In [16]:
for venkat in list_1:
    print(venkat)
    
    print(venkat)

rodger
rodger
ben
ben
juliee
juliee
welcome
welcome

In [17]:
for i in list_1:
    s = i + ' ' + "welcome to the club"
    print(s)

rodger welcome to the club
ben welcome to the club
juliee welcome to the club
welcome welcome to the club

In [18]:
numbers = [6,3,5,7,8]
sum(numbers)

29

In [19]:
for i + "welcome to the club" in list_1:
    print(i)

SyntaxError: cannot assign to operator (<ipython-input-19-039e64a91374>, line 1)

In [20]:
list_1 = ["rodger","ben","julie",1]     # 1 is number, convert the num into string.
for i in list_1:
    s = str(i)+ ' ' + "welcome to the club"
    print(s)

rodger welcome to the club
ben welcome to the club
julie welcome to the club
1 welcome to the club

In [21]:
list_1 = ["rodger","ben","julie",1]     # 1 is number, convert the num into string.
for i in list_1:
    s = i+ ' ' + "welcome to the club"
    print(s)

rodger welcome to the club
ben welcome to the club
julie welcome to the club

TypeError: unsupported operand type(s) for +: 'int' and 'str'

introduced a new string formatting mechanism known as Literal String Interpolation or more commonly 
as F-strings (because of the leading f character preceding the string literal). 
The idea behind f-strings is to make string interpolation simpler.

In [22]:
magicians = ['alice', 'david', 'carolina']
for magician in magicians:
    print(f"{magician.title()}, that was a great trick!")
print(f"I can't wait to see your next trick, {magician.title()}.\n")

Alice, that was a great trick!
David, that was a great trick!
Carolina, that was a great trick!
I can't wait to see your next trick, Carolina.

In [23]:
numbers = [6,3,5,7,8]
# Variable to store the sum
sum_1 = 0

# # Iterate over the list:
for val in numbers:
    sum_1 = sum_1 + val
    
print(sum_1)

29

In [2]:
num = [1,2,3]
sum(num)

6

In [24]:
print(range(10))

range(0, 10)

In [25]:
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in range(-10):
    print(i)

In [27]:
a  = "poonam"

In [28]:
a

'poonam'

In [29]:
print(a)

poonam

In [30]:
for val in range(6):
    print(val)

0
1
2
3
4
5

In [31]:
digits = [1, 2, 3, 4, 5, 6, 7, 8, 9, 0]
min(digits)

0

In [32]:
max(digits)

9

In [33]:
sum(digits)

45

In [1]:
even_numbers = list(range(2, 11, 2))
print(even_numbers)

[2, 4, 6, 8, 10]

In [2]:
numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [3]:
# Create an empty list
sample_list = []
# Iterate over sequence of numbers from 0 to 9
for i in range(10):
    # Append each number at the end of list
    sample_list.append(i)

In [4]:
sample_list

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
sq = []
for value in range(1, 11):
    square = value ** 2
    sq.append(square)
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:

for value in range(1, 11):
    square = value ** 2
    squares.append(square)
print(squares)

[100]

In [ ]:
squares = []
for value in range(1,11):
    squares.append(value**2)
print(squares)

# Python String Interpolation

# f-strings
Python 3.6 added new string interpolation method called literal string interpolation
and introduced a new literal prefix f. This new way of formatting strings is powerful and easy to use.
It provides access to embedded Python expressions inside string constants.

In [ ]:
name = 'World'
program = 'Python'
print(f'Hello {name}! This is {program}')

In above example literal prefix f tells Python to restore the value of two string variable name and program inside braces {}. 
So, that when we print we get the above output.

This new string interpolation is powerful as we can embed arbitrary Python expressions we can even do inline arithmetic with it.

In [ ]:
a = 12
b = 3
print(f'12 multiply 3 is {a * b}.')

# %-formatting
Strings in Python have a unique built-in operation that can be accessed with the % operator. 
Using % we can do simple string interpolation very easily.

In [ ]:
print("%s %s" %('Hello','World',))

How to Use %-formatting
String objects have a built-in operation using the % operator, which you can use to format strings. 
Hereâ€™s what that looks like in practice:

In above example we used two %s string format specifier and two strings Hello and World in parenthesis (). 
We got Hello World as output. %s string format specifier tell Python where to substitute the value.

String formatting syntax changes slightly, if we want to make multiple substitutions in a single string, 
and as the % operator only takes one argument, we need to wrap the right-hand side in a tuple as shown in the example below.

In [ ]:
name = 'world'
program ='python'
print('Hello %s! This is %s.'%(name,program))

# Str.format()

In this string formatting we use format() function on a string object and braces {}, the string object in format() 
function is substituted in place of braces {}.
We can use the format() function to do simple positional formatting, just like % formatting.

In [ ]:
name = 'world'
print('Hello, {}'.format(name))

In this example we used braces {} and format() function to pass name object 
.We got the value of name in place of braces {} in output.

We can refer to our variable substitutions by name and use them in any order we want.
This is quite a powerful feature as it allows for re-arranging the order of display without 
changing the arguments passed to the format function.

In [ ]:
name = 'world'
program ='python'
print('Hello {name}!This is{program}.'.format(name=name,program=program))

# Key Points to Remember:
1)%-format method is very old method for interpolation and is not recommended to use as it decrease the code readability.
2)In str.format() method we pass the string object to the format() function for string interpolation.
3)Literal String Interpolation method is powerful interpolation method which is easy to use and increase the code readability.

In [ ]:
name = "eric"
age = 70
"Hello, {0}. You are {1}.".format(age, name)

In [5]:
a=[1,2,3]
b = [10]
a.append(b)

In [6]:
a

[1, 2, 3, [10]]