# Python Tuple

In [1]:
# Lists are mutuable in nature
# A tuple in Python is similar to a list.
# The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can the elements of a list
# Tuples are immutable in nature

# Creating a Tuple

In [2]:
# A tuple is created by placing all the items inside parentheses (), seperated by commas
# The parantheses are optional , however it is a good practice to use them
# A tuple can have any number of items and they may be different data types(float,integer,list,string)

In [3]:
# Different types of tuples

# Empty list
my_list = []

# Empty tuple
my_tuple = ()

In [4]:
print(type(my_list))
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

In [5]:
# Tuple having integers
my_tuple = (1,2,3)
print(my_tuple)

(1, 2, 3)

In [6]:
type(my_tuple)

tuple

In [7]:
# tuple with mixed data types
my_tuple = (1,"Hello",3.4)
print(my_tuple)

(1, 'Hello', 3.4)

In [8]:
# nested tuple
my_tuple = ("mouse",[8,4,6],(1,2,3))

In [9]:
my_tuple

('mouse', [8, 4, 6], (1, 2, 3))

In [10]:
# A tuple can be created without using parantheses. This is known as tuple packing

In [11]:
my_tuple = 3
type(my_tuple)

int

In [12]:
my_tuple = 3,
type(my_tuple)

tuple

In [13]:
my_tuple = 3,4.6,"dog"
my_tuple

(3, 4.6, 'dog')

In [14]:
type(my_tuple)

tuple

In [15]:
a = 1
type(a)

int

In [1]:
# tuple unpacking is also possible
my_tuple = 3,4,"dog"
a,b,c = my_tuple
id(my_tuple)

3020269468160

In [3]:
a

3

In [4]:
b

4

In [5]:
id(c)

3020269856880

In [6]:
c = 30

In [7]:
id(my_tuple)

3020269468160

In [20]:
a,b = my_tuple

ValueError: too many values to unpack (expected 2)

In [ ]:
a,b,c,d = my_tuple

In [ ]:
# my_tuple = 3,4.6,"dog"
# my_tuple = a,b,c

In [25]:
d = a + b

In [26]:
d

7

In [27]:
my_tuple

(3, 4, 'dog')

In [28]:
a,b,c

(3, 4, 'dog')

In [3]:
a = 10

In [4]:
a

10

In [5]:
a

10

In [9]:
b

4

In [10]:
c

'dog'

In [11]:
d = 20
e = 50
f = 90
d,e,f

(20, 50, 90)

In [12]:
a,b,c

(3, 4, 'dog')

In [13]:
my_tuple

(3, 4, 'dog')

In [ ]:
my_tuple[0]

In [ ]:
my_tuple[0] = 10

In [8]:
my_tuple = (10,20,50)

In [ ]:
my_tuple

In [9]:
my_tuple[0] = 30

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple

In [10]:
my_tuple = d,e,f

NameError: name 'd' is not defined

In [11]:
d

NameError: name 'd' is not defined

In [ ]:
e

In [ ]:
f

In [ ]:
my_tuple

In [19]:
my_tuple1 = (10,20,30)

In [20]:
my_tuple1 = 10,20,30

In [21]:
my_tuple1

(10, 20, 30)

In [22]:
len(my_tuple1)

3

In [23]:
my_tuple1 = a,b,c

In [24]:
a,b,c = my_tuple1

In [25]:
a

3

In [26]:
c

'dog'

In [48]:
my_tuple1 = (10,20,30)

In [49]:
my_tuple1 = a,b,c

NameError: name 's' is not defined

In [29]:
a

3

In [30]:
b

4

In [31]:
c

'dog'

In [32]:
a = 10

In [33]:
a

10

In [50]:
venkat = d,g,u

NameError: name 'g' is not defined

In [52]:
venkat = (10,20,30)

In [53]:
d

20

In [37]:
b

4

In [38]:
c

'dog'

In [39]:
shyam = a b c

SyntaxError: invalid syntax (<ipython-input-39-0687ed807864>, line 1)

In [54]:
shyam = 'xyz'
shyam = 1,2,3

In [55]:
shyam

(1, 2, 3)

In [42]:
shyam[0] = 2

TypeError: 'tuple' object does not support item assignment

In [43]:
shyam = x,y,z

In [44]:
my_tuple1 = d,e,f

In [45]:
my_tuple1 =

SyntaxError: invalid syntax (<ipython-input-45-c47be778d2df>, line 1)

In [46]:
my_tuple = 1,2,3,4,5,6

In [47]:
my_tuple = g,h,i,j,k,l

NameError: name 'g' is not defined

In [ ]:
my_tuple = 1,2,3

In [ ]:
my_tuple = b,c

In [ ]:
a,b,c = my_tuple

In [ ]:
my_tuple = a,b,c

In [ ]:
my_tuple

In [ ]:
my_tuple = d,e,f

In [ ]:
my_tuple

In [ ]:
d

In [ ]:
e

In [ ]:
f

In [14]:
tup = (1,2,3,4)

In [15]:
tup[0] = 10

TypeError: 'tuple' object does not support item assignment

In [16]:
t1 = (1,2,3)
p,q,r = t1

In [17]:
p

1

In [18]:
p[0] = 10

TypeError: 'int' object does not support item assignment

In [16]:
tu = (1,2)

In [18]:
(o,q) = tu

In [19]:
o

1

In [27]:
tup = (1,2,3)
id(tup)

3020269468032

In [28]:
tup = ('a','b','c')
id(tup)

3020269449792

In [4]:
li = [1,2]

1700669434752

In [5]:
li = [3,6]
id(li)

1700669435072

In [30]:
id(tup)

3020269449792

In [6]:
import platform
platform.python_implementation()

'CPython'

In [5]:
import pandas as pd
df = pd.DataFrame({
    'age' :     (0, 22]})

In [7]:
df

   age
0   10
1   22